@model IEnumerable<FileManager.Models.UserNameEmail>
@{
    ViewBag.Title = "Index";
}
<h2>Users</h2>

<table>
    <tr>
        <th>User Name</th>
        <th>E-mail</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserName</td>
            <td>@item.Email</td>
            <td>
                <div class="btn btn-default">@Html.ActionLink("Delete", "DeleteUser", new {id = item.Id})</div></td>
            <td>
                <div class="btn btn-default">@Html.ActionLink("Files", "GetUserFiles", new {id = item.Id})</div></td>
        </tr>
    }
</table>
